[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funHDDC"]
	path = funHDDC
	url = https://github.com/cran/funHDDC
[submodule "ordinalClust"]
	path = ordinalClust
	url = https://github.com/cran/ordinalClust
